## Copy Rate

In [3]:
import MetaTrader5 as mt5
import pandas as pd
from datetime import datetime

In [27]:
# import the 'pandas' module for displaying data obtained in the tabular form
import pandas as pd
pd.set_option('display.max_columns', 1500) # number of columns to be displayed
pd.set_option('display.width', 1500)      # max table width to display
# import pytz module for working with time zone
import pytz

In [28]:
# establish connection to the MetaTrader 5 terminal
if not mt5.initialize(login=2407820, server="FBS-Demo",password="S7KzkDqH"):
    print("initialize() failed, error code =",mt5.last_error())
    quit()

In [91]:
# set time zone to UTC
timezone = pytz.timezone("Etc/UTC")
# create 'datetime' object in UTC time zone to avoid the implementation of a local time zone offset
utc_from = datetime(2023, 7, 21, tzinfo=timezone)
# get 10 EURUSD H4 bars starting from 01.10.2020 in UTC time zone
rates = mt5.copy_rates_from("EURUSD", mt5.TIMEFRAME_H4, utc_from, 20)

In [92]:
# display each element of obtained data in a new line
print("Display obtained data 'as is'")
for rate in rates:
    print(rate)

Display obtained data 'as is'
(1689624000, 1.12329, 1.1246, 1.1232, 1.12391, 6584, 8, 0)
(1689638400, 1.12382, 1.12464, 1.12345, 1.12417, 3273, 8, 0)
(1689652800, 1.1242, 1.12561, 1.12386, 1.12516, 7456, 8, 0)
(1689667200, 1.12516, 1.12756, 1.12277, 1.12369, 16831, 8, 0)
(1689681600, 1.12371, 1.12703, 1.1223, 1.12397, 18453, 8, 0)
(1689696000, 1.12396, 1.12459, 1.12088, 1.12145, 30365, 8, 0)
(1689710400, 1.12146, 1.12315, 1.12092, 1.12276, 7996, 8, 0)
(1689724800, 1.12273, 1.12327, 1.12252, 1.12294, 4744, 8, 0)
(1689739200, 1.12295, 1.12312, 1.12162, 1.12215, 9000, 8, 0)
(1689753600, 1.12215, 1.12372, 1.11958, 1.12324, 22432, 8, 0)
(1689768000, 1.12324, 1.124, 1.12087, 1.12171, 17632, 8, 0)
(1689782400, 1.12171, 1.12244, 1.11742, 1.1192, 23946, 8, 0)
(1689796800, 1.1192, 1.1205, 1.11901, 1.12022, 7657, 8, 0)
(1689811200, 1.12003, 1.12203, 1.11939, 1.12182, 4865, 8, 0)
(1689825600, 1.12181, 1.1229, 1.12155, 1.12212, 10793, 8, 0)
(1689840000, 1.12211, 1.12232, 1.1198, 1.12084, 15673, 8, 0)
(1689854400, 1.12085, 1.12167, 1.1177, 1.11827, 18551, 8, 0)
(1689868800, 1.11826, 1.11887, 1.11183, 1.1124, 24991, 8, 0)
(1689883200, 1.1124, 1.11346, 1.11218, 1.11289, 7370, 8, 0)
(1689897600, 1.11294, 1.11367, 1.11292, 1.11349, 1287, 8, 0)

In [93]:
# create DataFrame out of the obtained data
rates_frame = pd.DataFrame(rates)
# convert time in seconds into the datetime format
rates_frame['time']=pd.to_datetime(rates_frame['time'], unit='s')

In [94]:
# display data
print("\nDisplay dataframe with data")
rates_frame

Display dataframe with data

                  time     open     high      low    close  tick_volume  spread  real_volume
0  2023-07-17 20:00:00  1.12329  1.12460  1.12320  1.12391         6584       8            0
1  2023-07-18 00:00:00  1.12382  1.12464  1.12345  1.12417         3273       8            0
2  2023-07-18 04:00:00  1.12420  1.12561  1.12386  1.12516         7456       8            0
3  2023-07-18 08:00:00  1.12516  1.12756  1.12277  1.12369        16831       8            0
4  2023-07-18 12:00:00  1.12371  1.12703  1.12230  1.12397        18453       8            0
5  2023-07-18 16:00:00  1.12396  1.12459  1.12088  1.12145        30365       8            0
6  2023-07-18 20:00:00  1.12146  1.12315  1.12092  1.12276         7996       8            0
7  2023-07-19 00:00:00  1.12273  1.12327  1.12252  1.12294         4744       8            0
8  2023-07-19 04:00:00  1.12295  1.12312  1.12162  1.12215         9000       8            0
9  2023-07-19 08:00:00  1.12215  1.12372  1.11958  1.12324        22432       8            0
10 2023-07-19 12:00:00  1.12324  1.12400  1.12087  1.12171        17632       8            0
11 2023-07-19 16:00:00  1.12171  1.12244  1.11742  1.11920        23946       8            0
12 2023-07-19 20:00:00  1.11920  1.12050  1.11901  1.12022         7657       8            0
13 2023-07-20 00:00:00  1.12003  1.12203  1.11939  1.12182         4865       8            0
14 2023-07-20 04:00:00  1.12181  1.12290  1.12155  1.12212        10793       8            0
15 2023-07-20 08:00:00  1.12211  1.12232  1.11980  1.12084        15673       8            0
16 2023-07-20 12:00:00  1.12085  1.12167  1.11770  1.11827        18551       8            0
17 2023-07-20 16:00:00  1.11826  1.11887  1.11183  1.11240        24991       8            0
18 2023-07-20 20:00:00  1.11240  1.11346  1.11218  1.11289         7370       8            0
19 2023-07-21 00:00:00  1.11294  1.11367  1.11292  1.11349         1287       8            0

In [95]:
rates_frame

                  time     open     high      low    close  tick_volume  spread  real_volume
0  2023-07-17 20:00:00  1.12329  1.12460  1.12320  1.12391         6584       8            0
1  2023-07-18 00:00:00  1.12382  1.12464  1.12345  1.12417         3273       8            0
2  2023-07-18 04:00:00  1.12420  1.12561  1.12386  1.12516         7456       8            0
3  2023-07-18 08:00:00  1.12516  1.12756  1.12277  1.12369        16831       8            0
4  2023-07-18 12:00:00  1.12371  1.12703  1.12230  1.12397        18453       8            0
5  2023-07-18 16:00:00  1.12396  1.12459  1.12088  1.12145        30365       8            0
6  2023-07-18 20:00:00  1.12146  1.12315  1.12092  1.12276         7996       8            0
7  2023-07-19 00:00:00  1.12273  1.12327  1.12252  1.12294         4744       8            0
8  2023-07-19 04:00:00  1.12295  1.12312  1.12162  1.12215         9000       8            0
9  2023-07-19 08:00:00  1.12215  1.12372  1.11958  1.12324        22432       8            0
10 2023-07-19 12:00:00  1.12324  1.12400  1.12087  1.12171        17632       8            0
11 2023-07-19 16:00:00  1.12171  1.12244  1.11742  1.11920        23946       8            0
12 2023-07-19 20:00:00  1.11920  1.12050  1.11901  1.12022         7657       8            0
13 2023-07-20 00:00:00  1.12003  1.12203  1.11939  1.12182         4865       8            0
14 2023-07-20 04:00:00  1.12181  1.12290  1.12155  1.12212        10793       8            0
15 2023-07-20 08:00:00  1.12211  1.12232  1.11980  1.12084        15673       8            0
16 2023-07-20 12:00:00  1.12085  1.12167  1.11770  1.11827        18551       8            0
17 2023-07-20 16:00:00  1.11826  1.11887  1.11183  1.11240        24991       8            0
18 2023-07-20 20:00:00  1.11240  1.11346  1.11218  1.11289         7370       8            0
19 2023-07-21 00:00:00  1.11294  1.11367  1.11292  1.11349         1287       8            0

## copy_rates_from_pos

In [57]:
# get 10 GBPUSD D1 bars from the current day
rates = mt5.copy_rates_from_pos("GBPUSD", mt5.TIMEFRAME_D1, 0, 10)

In [58]:
rates

array([(1688688000, 1.27359, 1.28493, 1.27258, 1.2837 ,  84418, 7, 0),
       (1688947200, 1.2825 , 1.28682, 1.27502, 1.28595,  79269, 7, 0),
       (1689033600, 1.28587, 1.29346, 1.28541, 1.29306,  82756, 7, 0),
       (1689120000, 1.293  , 1.30005, 1.2904 , 1.29875,  92709, 7, 0),
       (1689206400, 1.29864, 1.3141 , 1.29822, 1.31343,  94092, 7, 0),
       (1689292800, 1.31316, 1.31422, 1.30885, 1.30911, 101749, 7, 0),
       (1689552000, 1.30869, 1.31089, 1.30508, 1.3072 ,  95731, 7, 0),
       (1689638400, 1.30718, 1.3126 , 1.30281, 1.30334, 115470, 7, 0),
       (1689724800, 1.30338, 1.30413, 1.28674, 1.29387, 124380, 7, 0),
       (1689811200, 1.29375, 1.29643, 1.28397, 1.2866 ,  96111, 0, 0)],
      dtype=[('time', '<i8'), ('open', '<f8'), ('high', '<f8'), ('low', '<f8'), ('close', '<f8'), ('tick_volume', '<u8'), ('spread', '<i4'), ('real_volume', '<u8')])

In [59]:
print("Display obtained data 'as is'")
for rate in rates:
    print(rate)

Display obtained data 'as is'
(1688688000, 1.27359, 1.28493, 1.27258, 1.2837, 84418, 7, 0)
(1688947200, 1.2825, 1.28682, 1.27502, 1.28595, 79269, 7, 0)
(1689033600, 1.28587, 1.29346, 1.28541, 1.29306, 82756, 7, 0)
(1689120000, 1.293, 1.30005, 1.2904, 1.29875, 92709, 7, 0)
(1689206400, 1.29864, 1.3141, 1.29822, 1.31343, 94092, 7, 0)
(1689292800, 1.31316, 1.31422, 1.30885, 1.30911, 101749, 7, 0)
(1689552000, 1.30869, 1.31089, 1.30508, 1.3072, 95731, 7, 0)
(1689638400, 1.30718, 1.3126, 1.30281, 1.30334, 115470, 7, 0)
(1689724800, 1.30338, 1.30413, 1.28674, 1.29387, 124380, 7, 0)
(1689811200, 1.29375, 1.29643, 1.28397, 1.2866, 96111, 0, 0)

In [62]:
# create DataFrame out of the obtained data
rates_frame = pd.DataFrame(rates)
# convert time in seconds into the datetime format
rates_frame['time']=pd.to_datetime(rates_frame['time'], unit='s')

# display data
print("\nDisplay dataframe with data")
print(rates_frame)

Display dataframe with data
        time     open     high      low    close  tick_volume  spread  real_volume
0 2023-07-07  1.27359  1.28493  1.27258  1.28370        84418       7            0
1 2023-07-10  1.28250  1.28682  1.27502  1.28595        79269       7            0
2 2023-07-11  1.28587  1.29346  1.28541  1.29306        82756       7            0
3 2023-07-12  1.29300  1.30005  1.29040  1.29875        92709       7            0
4 2023-07-13  1.29864  1.31410  1.29822  1.31343        94092       7            0
5 2023-07-14  1.31316  1.31422  1.30885  1.30911       101749       7            0
6 2023-07-17  1.30869  1.31089  1.30508  1.30720        95731       7            0
7 2023-07-18  1.30718  1.31260  1.30281  1.30334       115470       7            0
8 2023-07-19  1.30338  1.30413  1.28674  1.29387       124380       7            0
9 2023-07-20  1.29375  1.29643  1.28397  1.28660        96111       0            0

## copy_rates_range

In [79]:
#Get bars in the specified date range from the MetaTrader 5 terminal.

In [64]:
from datetime import datetime
import MetaTrader5 as mt5

# import the 'pandas' module for displaying data obtained in the tabular form
import pandas as pd
pd.set_option('display.max_columns', 500) # number of columns to be displayed
pd.set_option('display.width', 1500)      # max table width to display
# import pytz module for working with time zone
import pytz

In [74]:
# set time zone to UTC
timezone = pytz.timezone("Etc/UTC")
# create 'datetime' objects in UTC time zone to avoid the implementation of a local time zone offset
utc_from = datetime(2023, 1, 1, tzinfo=timezone)
utc_to = datetime(2023, 1, 7, hour = 13, tzinfo=timezone)
# get bars from USDJPY M5 within the interval of 2020.01.10 00:00 - 2020.01.11 13:00 in UTC time zone
rates = mt5.copy_rates_range("USDJPY", mt5.TIMEFRAME_M5, utc_from, utc_to)

In [75]:
print(rates)

[(1672617900, 130.859, 130.859, 130.841, 130.841,   6, 85, 0)
 (1672618200, 130.841, 130.841, 130.809, 130.82 ,  18, 89, 0)
 (1672618500, 130.826, 130.836, 130.826, 130.836,   8, 85, 0) ...
 (1673048700, 132.134, 132.144, 132.12 , 132.136,  55, 10, 0)
 (1673049000, 132.142, 132.142, 132.108, 132.117, 128, 18, 0)
 (1673049300, 132.118, 132.119, 132.031, 132.049, 110, 85, 0)]

In [76]:
# display each element of obtained data in a new line
print("Display obtained data 'as is'")
counter=0
for rate in rates:
    counter+=1
    if counter<=10:
        print(rate)

Display obtained data 'as is'
(1672617900, 130.859, 130.859, 130.841, 130.841, 6, 85, 0)
(1672618200, 130.841, 130.841, 130.809, 130.82, 18, 89, 0)
(1672618500, 130.826, 130.836, 130.826, 130.836, 8, 85, 0)
(1672618800, 130.836, 130.836, 130.836, 130.836, 5, 85, 0)
(1672619100, 130.836, 130.836, 130.833, 130.833, 7, 85, 0)
(1672619400, 130.83, 130.83, 130.824, 130.824, 8, 85, 0)
(1672619700, 130.825, 130.827, 130.825, 130.827, 7, 85, 0)
(1672620000, 130.828, 130.833, 130.827, 130.832, 8, 85, 0)
(1672620300, 130.832, 130.832, 130.832, 130.832, 5, 85, 0)
(1672621200, 130.8, 130.8, 130.706, 130.706, 4, 120, 0)

In [77]:
# create DataFrame out of the obtained data
rates_frame = pd.DataFrame(rates)
# convert time in seconds into the 'datetime' format
rates_frame['time']=pd.to_datetime(rates_frame['time'], unit='s')
 
# display data
print("\nDisplay dataframe with data")
print(rates_frame.head(10))

Display dataframe with data
                 time     open     high      low    close  tick_volume  spread  real_volume
0 2023-01-02 00:05:00  130.859  130.859  130.841  130.841            6      85            0
1 2023-01-02 00:10:00  130.841  130.841  130.809  130.820           18      89            0
2 2023-01-02 00:15:00  130.826  130.836  130.826  130.836            8      85            0
3 2023-01-02 00:20:00  130.836  130.836  130.836  130.836            5      85            0
4 2023-01-02 00:25:00  130.836  130.836  130.833  130.833            7      85            0
5 2023-01-02 00:30:00  130.830  130.830  130.824  130.824            8      85            0
6 2023-01-02 00:35:00  130.825  130.827  130.825  130.827            7      85            0
7 2023-01-02 00:40:00  130.828  130.833  130.827  130.832            8      85            0
8 2023-01-02 00:45:00  130.832  130.832  130.832  130.832            5      85            0
9 2023-01-02 01:00:00  130.800  130.800  130.706  130.706            4     120            0

## copy_ticks_from

In [81]:
# set time zone to UTC
timezone = pytz.timezone("Etc/UTC")
# create 'datetime' object in UTC time zone to avoid the implementation of a local time zone offset
utc_from = datetime(2020, 1, 10, tzinfo=timezone)
# request 100 000 EURUSD ticks starting from 10.01.2019 in UTC time zone
ticks = mt5.copy_ticks_from("EURUSD", utc_from, 100000, mt5.COPY_TICKS_ALL)
print("Ticks received:",len(ticks))

Ticks received: 100000

In [82]:
# display data on each tick on a new line
print("Display obtained ticks 'as is'")
count = 0
for tick in ticks:
    count+=1
    print(tick)
    if count >= 10:
        break

Display obtained ticks 'as is'
(1689811653, 1.12003, 1.12048, 0., 0, 1689811653549, 230, 0.)
(1689811653, 1.12003, 1.12048, 0., 0, 1689811653550, 96, 0.)
(1689811653, 1.12003, 1.12048, 0., 0, 1689811653550, 96, 0.)
(1689811654, 1.1199, 1.1205, 0., 0, 1689811654296, 230, 0.)
(1689811729, 1.11983, 1.1205, 0., 0, 1689811729153, 230, 0.)
(1689811756, 1.11977, 1.12049, 0., 0, 1689811756704, 230, 0.)
(1689811756, 1.11977, 1.12049, 0., 0, 1689811756704, 96, 0.)
(1689811758, 1.11988, 1.12044, 0., 0, 1689811758950, 230, 0.)
(1689811807, 1.11991, 1.12044, 0., 0, 1689811807655, 226, 0.)
(1689811836, 1.11988, 1.12045, 0., 0, 1689811836158, 230, 0.)

In [83]:
# create DataFrame out of the obtained data
ticks_frame = pd.DataFrame(ticks)
# convert time in seconds into the datetime format
ticks_frame['time']=pd.to_datetime(ticks_frame['time'], unit='s')
 
# display data
print("\nDisplay dataframe with ticks")
print(ticks_frame.head(10))

Display dataframe with ticks
                 time      bid      ask  last  volume       time_msc  flags  volume_real
0 2023-07-20 00:07:33  1.12003  1.12048   0.0       0  1689811653549    230          0.0
1 2023-07-20 00:07:33  1.12003  1.12048   0.0       0  1689811653550     96          0.0
2 2023-07-20 00:07:33  1.12003  1.12048   0.0       0  1689811653550     96          0.0
3 2023-07-20 00:07:34  1.11990  1.12050   0.0       0  1689811654296    230          0.0
4 2023-07-20 00:08:49  1.11983  1.12050   0.0       0  1689811729153    230          0.0
5 2023-07-20 00:09:16  1.11977  1.12049   0.0       0  1689811756704    230          0.0
6 2023-07-20 00:09:16  1.11977  1.12049   0.0       0  1689811756704     96          0.0
7 2023-07-20 00:09:18  1.11988  1.12044   0.0       0  1689811758950    230          0.0
8 2023-07-20 00:10:07  1.11991  1.12044   0.0       0  1689811807655    226          0.0
9 2023-07-20 00:10:36  1.11988  1.12045   0.0       0  1689811836158    230          0.0

## copy_ticks_range

In [85]:
# set time zone to UTC
timezone = pytz.timezone("Etc/UTC")
# create 'datetime' objects in UTC time zone to avoid the implementation of a local time zone offset
utc_from = datetime(2020, 1, 10, tzinfo=timezone)
utc_to = datetime(2020, 1, 11, tzinfo=timezone)
# request AUDUSD ticks within 11.01.2020 - 11.01.2020
ticks = mt5.copy_ticks_range("AUDUSD", utc_from, utc_to, mt5.COPY_TICKS_ALL)
#print("Ticks received:",len(ticks))

In [88]:
print(ticks)

None

In [89]:
# display data on each tick on a new line
#print("Display obtained ticks 'as is'")
#count = 0
#for tick in ticks:
    #count+=1
    #print(tick)
    #if count >= 10:
        #break

In [90]:
# display data
#print("\nDisplay dataframe with ticks")
#print(ticks_frame.head(10))